{% extends "base.html" %}
{% block title %}{{ title }} | Онлайн калькулятор{% endblock %}
{% block body %}
<h1>{{ h1 }}</h1>
<h5>{{ h2 }}</h5>

<div class="main_form">
    <div class="border-form">

        <form action="{{ url_for(action) }}" method="get">
            <div class="mb-3">
                {{ main_form | safe }}
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>

        {% if result %}
        <div class="result_field">
            <h3>{{ h3 }}: <span> {{ result }} </span></h3>
        </div>
        {% endif %}
    </div>
    <div class="schema-img">
        {% block schema_img %}
        <img src="{{ url_for('static', path='images/logo.png') }}" alt="">
        {% endblock %}
    </div>
</div>


<div class="main-descript">
{% if main_text %}
    {{ main_text | safe }}
{% endif %}
</div>
{% if similar_pages|length > 0 %}
<h4>Похожие запросы</h4>
<div class="similar-links">
    {% for i in similar_pages %}

    <a href="{{ url_for(i.slug) }}"><p>{{ i.name }}</p></a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

