{% extends "geometry/base.html" %}

{% block title %}Найти длину окружности онлайн без регистрации{% endblock %}
{% block h1 %}Длина круга{% endblock %}
{% block h2 %}найти по радиусу{% endblock %}
{% block  main_form%}
        <form action="{{ url_for('circle_len_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="radius">{% block form_label %}Введите радиус окружности <b>(R)</b>{% endblock
                    %}</label>
                <input type="number" class="form-control" id="radius" name="radius" step="any" required>
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}
{% block h3 %}Длина окружности равна{% endblock %}