{% extends "geometry/base.html" %}

{% block title %}Найти площадь равнобедренного треугольника онлайн без регистрации{% endblock %}
{% block h1 %}Площадь равнобедренного треугольника{% endblock %}
{% block h2 %}найти по высоте и основанию{% endblock %}

{% block main_form %}
<form action="{{ url_for('isosceles_triangle_area_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="h">Введите высоту <b>(H)</b></label>
                <input type="text" class="form-control" id="h" name="h">

                <label class="form-label" for="c">Введите основание <b>(C)</b></label>
                <input type="text" class="form-control" id="c" name="c">
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}

{% block h3 %}Площадь равнобедренного треугольника равна{% endblock %}