{% extends "geometry/base.html" %}

{% block title %}Найти площадь ромба онлайн без регистрации{% endblock %}
{% block h1 %}Площадь ромба{% endblock %}
{% block h2 %}найти по стороне и высоте{% endblock %}

{% block main_form %}
<form action="{{ url_for('rhombus_area_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="a">Введите сторону <b>(A)</b></label>
                <input type="number" class="form-control" id="a" name="a">

                <label class="form-label" for="h">Введите высоту <b>(H)</b></label>
                <input type="number" class="form-control" id="h" name="h">

            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}

{% block h3 %}Площадь ромба равна{% endblock %}