{% extends "geometry/base.html" %}

{% block title %}Найти периметр ромба онлайн без регистрации{% endblock %}
{% block h1 %}Периметр ромба{% endblock %}
{% block h2 %}найти по стороне{% endblock %}

{% block main_form %}
<form action="{{ url_for('rhombus_perimeter_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="a">Введите сторону <b>(A)</b></label>
                <input type="text" class="form-control" id="a" name="a">
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}

{% block h3 %}Периметр ромба равен{% endblock %}