{% extends "geometry/base.html" %}

{% block title %}Найти площадь прямоугольного треугольника онлайн без регистрации{% endblock %}
{% block h1 %}Площадь прямоугольного треугольника{% endblock %}
{% block h2 %}найти по катетам{% endblock %}

{% block main_form %}
<form action="{{ url_for('right_triangle_area_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="a">Введите катет <b>(A)</b></label>
                <input type="number" class="form-control" id="a" name="a" step="any" required>

                <label class="form-label" for="a">Введите катет <b>(B)</b></label>
                <input type="number" class="form-control" id="b" name="b" step="any" required>
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}

{% block h3 %}Площадь прямоугольного треугольника равна{% endblock %}