{% extends "geometry/base.html" %}

{% block title %}Найти периметр трапеции | Онлайн калькулятор{% endblock %}
{% block h1 %}Периметр трапеции{% endblock %}
{% block h2 %}найти через длины оснований и сторон{% endblock %}

{% block main_form %}
<form action="{{ url_for('trap_perimeter_result') }}" method="get">
            <div class="mb-3">
                <label class="form-label" for="a">Введите основание <b>(A)</b></label>
                <input type="number" class="form-control" id="a" name="a" step="any" required>

                <label class="form-label" for="b">Введите основание <b>(B)</b></label>
                <input type="number" class="form-control" id="b" name="b" step="any" required>

                <label class="form-label" for="c">Введите сторону <b>(C)</b></label>
                <input type="number" class="form-control" id="c" name="c" step="any" required>

                <label class="form-label" for="d">Введите сторону <b>(D)</b></label>
                <input type="number" class="form-control" id="d" name="d" step="any" required>
            </div>
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
{% endblock %}

{% block h3 %}Периметр трапеции равен{% endblock %}