{% extends "base.html" %}
{% block title %}File Upload | Онлайн калькулятор{% endblock %}
{% block body %}

<h1>{{ h1 }}</h1>
<div class="format-form">
    <div class="">
      <select class="form-select" aria-label="Default select example">
      <option selected value="1">Pdf</option>
      <option value="2">Jpeg</option>
      <option value="3">Three</option>
      </select>
    </div>
    <div class="">
      <select class="form-select" aria-label="Default select example">
      <option selected value="1">Jpeg</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      </select>
    </div>

</div>

<div id="drop-zone">
Перетащите файл сюда или кликните для выбора
<input type="file" id="file-input" style="display: none;">
</div>
<div id="file-info"></div>
{% endblock %}