{% extends "base.html" %}
{% block title %}File Upload | Онлайн калькулятор{% endblock %}
{% block body %}

<h1>{{ h1 }}</h1>
<h5>конвертировать файлы</h5>

{% if tags %}
{% for tag in tags %}
            <a href="{{ url_for(search_tag).include_query_params(category_num=5) }}">
            <div>{{ tag }}</div></a>
{% endfor %}
{% endif %}
<form class="format-form" action="">
    <div class="">
      <select class="form-select" aria-label="Default select example" name="ff">
      <option selected value="pdf">Pdf</option>
      <option value="docx">Docx</option>
      <option value="heic">Heic</option>
      <option value="webp">WebP</option>
      <option value="jpeg">Jpeg</option>
      </select>
    </div>
    <div class="">
      <select class="form-select" aria-label="Default select example" name="tf">
      <option selected value="jpeg">Jpeg</option>
      <option value="png">Png</option>
      <option value="webp">WebP</option>
      </select>
    </div>
    <div class="">
        <button type="submit" class="btn btn-dark">Перейти</button>
    </div>
</form>

<div id="drop-zone">
Перетащите файлы сюда или кликните для выбора
<input type="file" id="file-input" style="display: none;">
</div>
<div id="file-info"></div>

<div class="factors">
    <div class="factors-item">
        <div class="factors-item-icon">
            <i class="bi bi-arrow-down-up"></i>
        </div>
        <div class="factors-item-txt">
            <h5>Как конвертировать {{ ff }} в {{ tf }}</h5>
            <p>Перетащите файл в формате <b>{{ ff }}</b> в поле для обработки или нажмите в любом месте для импорта.
                Файлы <b>{{ ff }}</b> будут преобразованы в формат <b>{{ tf}}</b> </p>
        </div>
    </div>
    <div class="factors-item">
        <div class="factors-item-icon">
            <i class="bi bi-shield-check"></i>
        </div>
        <div class="factors-item-txt">
            <h5>Безопасность Ваших файлов</h5>
            <p>Наши сервера очищаются от ваших файлов каждые <b>30 минут</b>. Третьи лица не имеют доступа
                к этим данным</p>
        </div>
    </div>
    <div class="factors-item">
        <div class="factors-item-icon">
            <i class="bi bi-gear"></i>
        </div>
        <div class="factors-item-txt">
            <h5>Кастомные настройки</h5>
            <p>По умолчанию файлы изображений генерируются с уровнем качества <b>300 dpi</b>.
                Однако вы можете отрегулировать качество по своему усмотрению</p>
        </div>
    </div>
</div>

<div class="formats">
    <div class="formats-item">
        <div class="formats-item-icon">
            <i class="bi bi-filetype-{{ff|lower}}"></i>
        </div>
        <p>{{ ff_txt | safe }}</p>
    </div>
    <div class="formats-icon">
        <i class="bi bi-chevron-double-right"></i>
    </div>
    <div class="formats-item">
        <div class="formats-item-icon">
            <i class="bi bi-filetype-{{tf|lower if tf != 'Jpeg' else 'jpg'}}"></i>
        </div>
        <p>{{ tf_txt | safe }}</p>
    </div>
</div>

<div class="main-descript">
    <p>В современном мире цифровых технологий мы ежедневно сталкиваемся с необходимостью менять форматы файлов.
        Документы, изображения, видео, аудио — всё это требует преобразования под разные задачи и устройства.
        На этой странице вы найдете бесплатный онлайн конвертер <b>{{ ff | upper }}</b> в формат <b>{{ tf| upper }}</b>,
        который облегчит ваши рабочие и личные задачи.</p>
</div>

{% endblock %}