a {
    text-decoration: inherit;
    color: inherit;
}
.home_screen {

}
.header {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 3fr 1fr;

}

.header > a > img {
    height: 50%;
}

.search-panel {
    max-height: 38px;
    border-bottom: 1px  dashed #aeaeae;
    margin: 30px 15px;
    color: #555454;
    text-align: right;
}

.search-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#search-field {
    border: none;
}

#search-field:focus {
    border: none;
}

#search-btn {
    border: none;
    text-decoration: none;
    display: inline-block;
    background-color: inherit;
}


.base_navbar {
    background-color: #f2f2f2;
    height: auto;
    border-radius: 20px;
    margin-bottom: 50px;

}

.base_navbar_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
    text-align: center;
    grid-gap: 30px;
    font-size: 20px;
    color: #555454;
}

.base_navbar_list > a {
    border: 2px solid #aeaeae;
    border-radius: 25px;
    padding: 7px 0;
    align-self: center;
}

.base_navbar_list > a:hover {
    background-color: #DA7748;
    color: #fff;
    border: #DA7748;
    /*transition: background-color, border 1s ease-in-out;*/
}

.base_navbar_list > a:target  {
    background-color: #DA7748;
    color: #fff;
    border: #DA7748;
}


.result_field {
    margin-top: 30px;
    padding: 30px 0;
    width: auto;
}

.result_field > h3 > span {
    background-color: #DA7748;
}

.main_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.form-label {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.border-form {
    border: 4px solid #DA7748;
    padding: 30px;
    margin: 20px 0 50px 0;
}

.select-block {
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.links-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    grid-auto-rows: 20vh;
    padding: 20px 0;
}

.links-block > a > .link {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.5s ease-out;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    line-height: 1.1em;
}


.links-block > a > .link:hover {

    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.link-img > img {
    display: block;
    max-width: 100%;
}

a.selected {
    text-decoration: underline;
    background-color: #DA7748;
}

.similar-links > a > p{
    color: #DA7748;
    margin-bottom: 0.5em;
}

.quotes {
    margin: 30px;
    background-color: #f2f2f2;
}

.quotes-field {
    padding: 30px;
}

.quotes-field > b {
    font-size: 20px;
}

.new-pass {
    font-size: 1.8em;
}

.new-pass:hover {
    text-decoration: underline;
}

.tags {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.tags > a > div {
    text-align: center;
    color: #DA7748;
    padding: 1em 0;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

.tags > a > div:hover {
    text-align: center;
    color: #fff;
    background-color: #DA7748;
    border-radius: 50%;
}


.footer {
    border-radius: 15px 15px 0 0;
    background-color: #555454;
    position: relative;
    min-height: 50px;

}

.copyright {
    color: #f2f2f2;
    padding: 30px;
}

.copyright > p > a:hover {
    border-bottom: 1px dashed;
    transition: all 0.5s ease-out;
}

.slice {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-column-gap: 30px;
}

.separator {
    margin-top: 120%;
    height: 2px;
    background-color: #DA7748;
}

.sitemap-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 0 50px 0;
}

#drop-zone {
    border: 2px dashed #ccc;
    padding: 70px;
    text-align: center;
    margin: 20px;
}

#file-info {
    margin: 10px 0 50px 0;
}

#file-info > h4 {
    margin-top: 30px;
}

.format-form {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-column-gap: 50px;
    margin: 30px 0;
}

.file-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin: 50px 0;
}

.file > img {
    max-width: 100%;
}

.file > p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
  .main_form {
    grid-template-columns: none;
  }
}