<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div class="container">
    <section class="home_screen">

        <div class="header">
            <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', path='/logo.png') }}" alt=""></a>
        </div>
        <div class="base_navbar">
            <div class="base_navbar_list">
                <a href="{{ url_for('home_page').include_query_params(category=1) }}" onclick="selectItem(this)">Геометрия</a>
                <a href="{{ url_for('home_page').include_query_params(category=2) }}" onclick="selectItem(this)">Финансы</a>
                <a href="{{ url_for('home_page').include_query_params(category=3) }}" onclick="selectItem(this)">Строительство</a>
                <a href="{{ url_for('home_page').include_query_params(category=4) }}" onclick="selectItem(this)">Конвертер величин</a>
                <a href="{{ url_for('home_page').include_query_params(category=5) }}" onclick="selectItem(this)">Генераторы</a>
            </div>
        </div>
        <div class="main_advert">

        </div>
        {% block body %}{% endblock %}

    </section>
    <div class="footer"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts.js') }}"></script>
</body>
</html>