<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{{ title }}Онлайн калькуляторы</title>
</head>
<body>
<div class="container">
    <section class="home_screen">

        <div class="header">
            <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', path='/logo.png') }}" alt=""></a>
            <span></span>
            <div class="search-panel">
                <form action="{{ url_for('search_page') }}">
                    <div class="search-form">
                        </label><input type="text" id="search-field" name="query" placeholder="Поиск по сайту">
                        <button type="submit" id="search-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>

                </form>

            </div>
        </div>
        <div class="base_navbar">
            <div class="base_navbar_list">
                <a href="{{ url_for('home_page').include_query_params(category=1) }}" onclick="selectItem(this)">Геометрия</a>
                <a href="{{ url_for('home_page').include_query_params(category=2) }}" onclick="selectItem(this)">Финансы</a>
                <a href="{{ url_for('home_page').include_query_params(category=3) }}" onclick="selectItem(this)">Конвертер величин</a>
                <a href="{{ url_for('home_page').include_query_params(category=4) }}" onclick="selectItem(this)">Генераторы</a>
            </div>
        </div>
        <div class="main_advert">

        </div>
        {% block body %}{% endblock %}

    </section>
    <div class="footer">
        <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', path='/logo.png') }}" alt=""></a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts.js') }}"></script>
</body>
</html>