{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ h1 }}</h1>
<h5>{{ h2 }}</h5>

<div class="main_form">
    <div class="border-form">
        <form action="{{ url_for(action) }}" method="get">
            <div class="mb-3">
                <h5>Выберите условия для генерации</h5>
                <div class="slice">
                    <div class="slice_field">
                        <label class="form-label" for="start">Начало диапазона</label>
                        <input class="form-control" type="number" id="start" name="start">
                    </div>
                    <div class="separator"></div>
                    <div class="slice_field">
                        <label class="form-label" for="stop">Конец диапазона</label>
                        <input class="form-control" type="number" id="stop" name="stop">
                    </div>
                </div>
                <br>
                  <label class="form-label" for="count">Количество чисел</label>
                  <input class="form-control" type="number" id="count" name="count">
                <br>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="sorting" name="sorting">
                  <label class="form-check-label" for="sorting">Использовать сортировку по порядку</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сгенерить числа</button>
        </form>

    </div>
    {% if result %}
    <div class="result_field">
        <h3>Сгенерированные числа</h3>
        {% for item in result %}
        <p class="new-pass" onclick="copyDivToClipboard(this)"  title="Скопировать"> {{ item }} </p>
        {% endfor %}
    </div>
    {% endif %}
</div>


<div class="main-descript">
    <p>Генерация случайных чисел — это важнейший аспект как в математике, так и в информатике. Эти числа имеют множество применений, начиная от простых азартных игр и заканчивая сложными криптографическими системами.
        Но что такое случайные числа, и как они генерируются?Случайные числа можно разделить на два класса: истинно случайные и псевдослучайные. Истинно случайные числа генерируются с использованием физических процессов,
        таких как шум радиоволн или квантовые эффекты. Они обладают высокой степенью непредсказуемости и используются в высоконадежных системах, таких как банковские сети и системы безопасности.</p>
        <p>С другой стороны, псевдослучайные числа создаются с использованием алгоритмов. Они исходят от начального значения, называемого "seed", и могут быть повторно сгенерированы, если используется тот же seed.
            Хотя они не являются истинно случайными, их распределение может быть настолько близким к случайному, что зачастую этого достаточно для практических задач.
            Наиболее известными алгоритмами генерации псевдослучайных чисел являются алгоритмы линейного конгруэнтного метода и Mersenne Twister.</p>
        <div class="quotes">
            <div class="quotes-field">
                <h4>Интересный факт</h4>
                <p>Знаете ли вы, что число 1729 известно как "число Харди-Литтла"? <br>Это наименьшее число, которое можно выразить как сумму двух кубов двумя различными способами. </p>
            </div>
        </div>
    <p>Генерация случайных чисел широко используется в различных областях. Например, в статистике их применяют для выборки данных, чтобы избежать предвзятости. В компьютерных играх случайные числа используются для создания уникальных игровых событий, таких как генерация лута или поведение NPC. Также они критически важны в криптографии, где случайные ключи обеспечивают безопасность данных.
    При создании игр или симуляций разработчики должны тщательно продумать, как и когда использовались случайные числа. Например, слишком высокая степень случайности может привести к непредсказуемым результатам, а слишком низкая — к предсказуемости и, как следствие, потере интереса со стороны игроков.</p>
    <p>С недавним развитием технологий генерация случайных чисел стала значительно проще. Современные языки программирования, такие как Python или Java, предлагают встроенные библиотеки для работы со случайными числами, облегчая процесс для разработчиков. Однако важно помнить, что выбор метода генерации имеет критическое значение, особенно в таких областях, как криптография, где предсказуемость может привести к уязвимостям.</p>
</div>

{% if similar_pages|length > 0 %}
<h4>Похожие запросы</h4>
<div class="similar-links">
    {% for i in similar_pages %}
    <a href="{{ url_for(i.slug) }}"><p>{{ i.name }}</p></a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

